<h3>About</h3>

<p>Know more about me using the following links</p>
<ul>
    <li><a href="https://www.linkedin.com/in/me-cristianpique/" target="_blank">LinkedIn profile</a></li>
    <li><a href="https://cpique.github.io/" target="_blank">GitHub profile</a></li>
    <li><a href="https://cpique.github.io/" target="_blank">Personal website</a></li>
</ul>
